<h1> Kickstart Nomad </h1>

<ol>
  <li>
    Sign Up
  </li>

  <li>
    Input an Amazon IAM Token
  </li>

  <li>
    Launch Nomad, Consul, and Vault on your AWS account
  </li>

  <li>
    Run an load balanced application on Nomad
  </li>
</ol>

<p>
  All in about 10 minutes.
</p>

<p>
  When you're done, you can continue to manage your HashiStack with Terraform. There is no lock in.
</p>
