<h1> Get Started with Nomad </h1>

<ol>
  <li>
    Sign Up
  </li>

  <li>
    Input an Amazon IAM Token
  </li>

  <li>
    Launch Nomad, Consul, and Vault on your AWS account
  </li>

  <li>
    Run your applications on Nomad
  </li>
</ol>
