<%= if @current_user do %>
  <span class="header__link"><%= link "Settings", to: Routes.user_settings_path(@conn, :edit) %></span>
  <span class="header__link"><%= link "Log out", to: Routes.user_session_path(@conn, :delete), method: :delete %></span>
<% else %>
  <span class="header__link"><%= link "Register", to: Routes.user_registration_path(@conn, :new) %></span>
  <span class="header__link"><%= link "Log in", to: Routes.user_session_path(@conn, :new) %></span>
<% end %>
