.stack-content {
  @include fade-in;
  @include floating;
  @include bordered;

  padding: $spacing-lg;
  margin-bottom: $spacing-xl;
}

.stack-list {
  margin-bottom: $spacing-lg;

  .stack-list-item {
    @include fade-in;
    @include floating;
    @include bordered;
    @include clickable(#efefef);

    padding: $spacing-md;
    margin-bottom: $spacing-sm;
  }
}

.stack {
  padding: $spacing-lg;
  margin-bottom: $spacing-xl;

  .stack-info {
    @include bordered;
  }

  .stack-section {
    @include bordered-bottom;
    padding-bottom: $spacing-md;
    margin-bottom: $spacing-md;
  }

  .external-link {
    color: $color-primary;
  }

  .external-link:hover {
    color: $color-primary-dark;
  }
}
